
<!-- pour afficher le header commun à toutes les pages  -->
<!-- <div data-include="partials/header.html"></div> -->
 

<header class="topbar">
    <div class="container">
      <div class="brand">
        <span>🧀 DIGICHEESE</span>
        <span class="badge">Gestion des colis</span>
      </div>
      <nav class="nav">
        <a href="dashboard.html">Dashboard</a>
        <a href="recherche.html">Recherche</a>
        <a href="dossier.html">Dossier</a>
        <a class="active" href="colis.html">Colis</a>
        <a href="login.html">Déconnexion</a>
      </nav>
    </div>
  </header>